In [7]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [55]:
df=pd.read_csv(r"C:\Users\swast\OneDrive\Desktop\Moodle\HISTORY\Downloads\mail_data.csv")

In [56]:
df

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

## Labeling

In [59]:
# ham - 0 & spam - 1
df['Category']=df['Category'].replace({'ham':0})
df['Category']=df['Category'].replace({'spam':1})

In [60]:
df

      Category                                            Message
0            0  Go until jurong point, crazy.. Available only ...
1            0                      Ok lar... Joking wif u oni...
2            1  Free entry in 2 a wkly comp to win FA Cup fina...
3            0  U dun say so early hor... U c already then say...
4            0  Nah I don't think he goes to usf, he lives aro...
...        ...                                                ...
5567         1  This is the 2nd time we have tried 2 contact u...
5568         0               Will ü b going to esplanade fr home?
5569         0  Pity, * was in mood for that. So...any other s...
5570         0  The guy did some bitching but I acted like i'd...
5571         0                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [120]:
df['Message'][2]

"Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's"

In [61]:
X=df['Message']
y=df['Category']

## Splitting Data

In [62]:
X_Train,X_Test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

## Feature Extraction

In [109]:
feature_extraction = TfidfVectorizer(min_df = 1, stop_words='english', lowercase=True)

In [110]:
X_Train_features=feature_extraction.fit_transform(X_Train)
X_Test_features=feature_extraction.transform(X_Test)

In [111]:
y_train=y_train.astype(int)
y_test=y_test.astype(int)

## Model Building

In [98]:
lr=LogisticRegression()

In [99]:
lr.fit(X_Train_features,y_train)

LogisticRegression()

In [101]:
X_Train_features.shape

(4457, 7440)

## Predict

In [100]:
y_pred=lr.predict(X_Test_features)

In [102]:
score=accuracy_score(y_pred,y_test)

In [103]:
score

0.967713004484305

In [121]:
# Prediction System
res=input('Please Give a Email Response')
s=[]
s.append(res)
extract=feature_extraction.transform(s)

f=lr.predict(extract)
if f==0:
    print('Not a spam')
else:
    print('SPAM')

Please Give a Email ResponseFree entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's
SPAM