In [158]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.preprocessing import LabelEncoder

In [228]:
df_train = pd.read_csv(r"C:\Users\swast\Downloads\spaceship-titanic\train.csv")
df_test = pd.read_csv(r"C:\Users\swast\Downloads\spaceship-titanic\test.csv")

# Pre-Processing

In [160]:
df_train = df_train.drop(['PassengerId','Name','Cabin'],axis=1)
df_test = df_test.drop(['PassengerId','Name','Cabin'],axis=1)

In [161]:
df_train

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported
0,Europa,False,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,False
1,Earth,False,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,True
2,Europa,False,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,False
3,Europa,False,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,False
4,Earth,False,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,True
...,...,...,...,...,...,...,...,...,...,...,...
8688,Europa,False,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,False
8689,Earth,True,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,False
8690,Earth,False,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,True
8691,Europa,False,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,False
8692,Europa,False,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,True

In [162]:
df_test

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
0,Earth,True,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0
1,Earth,False,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0
2,Europa,True,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0
3,Europa,False,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0
4,Earth,False,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
4272,Earth,True,TRAPPIST-1e,34.0,False,0.0,0.0,0.0,0.0,0.0
4273,Earth,False,TRAPPIST-1e,42.0,False,0.0,847.0,17.0,10.0,144.0
4274,Mars,True,55 Cancri e,NaN,False,0.0,0.0,0.0,0.0,0.0
4275,Europa,False,NaN,NaN,False,0.0,2680.0,0.0,0.0,523.0
4276,Earth,True,PSO J318.5-22,43.0,False,0.0,0.0,0.0,0.0,0.0

In [163]:
df_train.isnull().sum()

HomePlanet      201
CryoSleep       217
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Transported       0
dtype: int64

In [164]:
#TRAIN
df_train['RoomService']=df_train['RoomService'].fillna(0.0)
df_train['FoodCourt']=df_train['FoodCourt'].fillna(0.0)
df_train['ShoppingMall']=df_train['ShoppingMall'].fillna(0.0)
df_train['Spa']=df_train['Spa'].fillna(0.0)
df_train['VRDeck']=df_train['VRDeck'].fillna(0.0)

In [165]:
df_train['Age']=df_train['Age'].fillna(df_train['Age'].mean())
df_train['HomePlanet']=df_train['HomePlanet'].fillna('Earth')
df_train['CryoSleep']=df_train['CryoSleep'].fillna('False')
df_train['Destination']=df_train['Destination'].fillna('TRAPPIST-1e')
df_train['VIP']=df_train['VIP'].fillna('False')

In [166]:
df_train['HomePlanet']=df_train['HomePlanet'].astype(str)
df_train['CryoSleep']=df_train['CryoSleep'].astype(str)
df_train['Destination']=df_train['Destination'].astype(str)
df_train['VIP']=df_train['VIP'].astype(str)

In [167]:
#TEST
df_test['RoomService']=df_test['RoomService'].fillna(0.0)
df_test['FoodCourt']=df_test['FoodCourt'].fillna(0.0)
df_test['ShoppingMall']=df_test['ShoppingMall'].fillna(0.0)
df_test['Spa']=df_test['Spa'].fillna(0.0)
df_test['VRDeck']=df_test['VRDeck'].fillna(0.0)

In [168]:
df_test['Age']=df_test['Age'].fillna(df_test['Age'].mean())
df_test['HomePlanet']=df_test['HomePlanet'].fillna('Earth')
df_test['CryoSleep']=df_test['CryoSleep'].fillna('False')
df_test['Destination']=df_test['Destination'].fillna('TRAPPIST-1e')
df_test['VIP']=df_test['VIP'].fillna('False')

In [169]:
df_test['HomePlanet']=df_test['HomePlanet'].astype(str)
df_test['CryoSleep']=df_test['CryoSleep'].astype(str)
df_test['Destination']=df_test['Destination'].astype(str)
df_test['VIP']=df_test['VIP'].astype(str)

In [170]:
df_test.isnull().sum()

HomePlanet      0
CryoSleep       0
Destination     0
Age             0
VIP             0
RoomService     0
FoodCourt       0
ShoppingMall    0
Spa             0
VRDeck          0
dtype: int64

In [171]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   HomePlanet    8693 non-null   object
 1   CryoSleep     8693 non-null   object
 2   Destination   8693 non-null   object
 3   Age           8693 non-null   float64
 4   VIP           8693 non-null   object
 5   RoomService   8693 non-null   float64
 6   FoodCourt     8693 non-null   float64
 7   ShoppingMall  8693 non-null   float64
 8   Spa           8693 non-null   float64
 9   VRDeck        8693 non-null   float64
 10  Transported   8693 non-null   bool
dtypes: bool(1), float64(6), object(4)
memory usage: 687.8+ KB

In [172]:
df_train

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported
0,Europa,False,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,False
1,Earth,False,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,True
2,Europa,False,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,False
3,Europa,False,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,False
4,Earth,False,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,True
...,...,...,...,...,...,...,...,...,...,...,...
8688,Europa,False,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,False
8689,Earth,True,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,False
8690,Earth,False,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,True
8691,Europa,False,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,False
8692,Europa,False,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,True

# Encoding

In [173]:
encoder = LabelEncoder()

In [174]:
#TRAIN
df_train['Encoded_HomePlanet']=encoder.fit_transform(df_train['HomePlanet'])
df_train['Encoded_CryoSleep']=encoder.fit_transform(df_train['CryoSleep'])
df_train['Encoded_Destination']=encoder.fit_transform(df_train['Destination'])
df_train['Encoded_VIP']=encoder.fit_transform(df_train['VIP'])

In [175]:
#TEST
df_test['Encoded_HomePlanet']=encoder.fit_transform(df_test['HomePlanet'])
df_test['Encoded_CryoSleep']=encoder.fit_transform(df_test['CryoSleep'])
df_test['Encoded_Destination']=encoder.fit_transform(df_test['Destination'])
df_test['Encoded_VIP']=encoder.fit_transform(df_test['VIP'])

In [176]:
df_train=df_train.drop(['HomePlanet','CryoSleep','Destination','VIP'],axis=1)

In [177]:
df_test=df_test.drop(['HomePlanet','CryoSleep','Destination','VIP'],axis=1)

In [178]:
df_train

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,Encoded_HomePlanet,Encoded_CryoSleep,Encoded_Destination,Encoded_VIP
0,39.0,0.0,0.0,0.0,0.0,0.0,False,1,0,2,0
1,24.0,109.0,9.0,25.0,549.0,44.0,True,0,0,2,0
2,58.0,43.0,3576.0,0.0,6715.0,49.0,False,1,0,2,1
3,33.0,0.0,1283.0,371.0,3329.0,193.0,False,1,0,2,0
4,16.0,303.0,70.0,151.0,565.0,2.0,True,0,0,2,0
...,...,...,...,...,...,...,...,...,...,...,...
8688,41.0,0.0,6819.0,0.0,1643.0,74.0,False,1,0,0,1
8689,18.0,0.0,0.0,0.0,0.0,0.0,False,0,1,1,0
8690,26.0,0.0,0.0,1872.0,1.0,0.0,True,0,0,2,0
8691,32.0,0.0,1049.0,0.0,353.0,3235.0,False,1,0,0,0
8692,44.0,126.0,4688.0,0.0,0.0,12.0,True,1,0,2,0

In [179]:
df_test

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Encoded_HomePlanet,Encoded_CryoSleep,Encoded_Destination,Encoded_VIP
0,27.000000,0.0,0.0,0.0,0.0,0.0,0,1,2,0
1,19.000000,0.0,9.0,0.0,2823.0,0.0,0,0,2,0
2,31.000000,0.0,0.0,0.0,0.0,0.0,1,1,0,0
3,38.000000,0.0,6652.0,0.0,181.0,585.0,1,0,2,0
4,20.000000,10.0,0.0,635.0,0.0,0.0,0,0,2,0
...,...,...,...,...,...,...,...,...,...,...
4272,34.000000,0.0,0.0,0.0,0.0,0.0,0,1,2,0
4273,42.000000,0.0,847.0,17.0,10.0,144.0,0,0,2,0
4274,28.658146,0.0,0.0,0.0,0.0,0.0,2,1,0,0
4275,28.658146,0.0,2680.0,0.0,0.0,523.0,1,0,2,0
4276,43.000000,0.0,0.0,0.0,0.0,0.0,0,1,1,0

# Splitting Dataset

In [180]:
X_train=df_train.drop(['Transported'],axis=1)
y_train=df_train['Transported']
y_train=encoder.fit_transform(y_train)

In [181]:
y_train[:5]

array([0, 1, 0, 0, 1], dtype=int64)

# Build model

In [182]:
from sklearn.ensemble import RandomForestClassifier

In [183]:
#Random Forest
rf=RandomForestClassifier(random_state=42)

In [184]:
# rf.fit(X_train,y_train)

In [185]:
#Logistic Regression
from sklearn.linear_model import LogisticRegression

In [186]:
lr=LogisticRegression(random_state=42)

In [187]:
# lr.fit(X_train,y_train)

In [188]:
#Gaussian Naive Bayes
from sklearn.naive_bayes import GaussianNB

In [189]:
nb=GaussianNB()

In [190]:
# nb.fit(X_train,y_train)

In [191]:
#Support Vector Mechanism
from sklearn.svm import SVC

In [192]:
sv=SVC(random_state=42)

In [193]:
# sv.fit(X_train,y_train)

In [194]:
from sklearn.tree import DecisionTreeClassifier

In [195]:
dt=DecisionTreeClassifier(random_state=42)

In [196]:
# dt.fit(X_train,y_train)

In [202]:
from sklearn.ensemble import VotingClassifier

In [211]:
ensemble=VotingClassifier([('rf', rf),('lr', lr), ('nb', nb), ('sv', sv), ('dt', dt)])

In [212]:
ensemble.fit(X_train,y_train)

C:\Users\swast\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

VotingClassifier(estimators=[('rf', RandomForestClassifier(random_state=42)),
                             ('lr', LogisticRegression(random_state=42)),
                             ('nb', GaussianNB()), ('sv', SVC(random_state=42)),
                             ('dt', DecisionTreeClassifier(random_state=42))])

# Testing

In [214]:
# 0-False || 1-True
y_pred_en=ensemble.predict(df_test)

In [232]:
df_en=pd.DataFrame()

In [233]:
df_en['Transported']=y_pred_en

In [234]:
df_en['Transported'].replace({0:'False',1:'True'},inplace=True)

In [235]:
df_en = df_en.reset_index(drop=True)

In [236]:
df_en['PassengerId']=list(df_test['PassengerId'])

In [238]:
df_en=df_en[['PassengerId','Transported']]

In [239]:
df_en

     PassengerId Transported
0        0013_01        True
1        0018_01       False
2        0019_01        True
3        0021_01        True
4        0023_01       False
...          ...         ...
4272     9266_02        True
4273     9269_01       False
4274     9271_01        True
4275     9273_01        True
4276     9277_01        True

[4277 rows x 2 columns]

In [242]:
df_en.to_csv(r"C:\Users\swast\Downloads\spaceship-titanic\sample_submission.csv",index = False)

In [229]:
df_test

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
1,0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers
2,0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus
3,0021_01,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter
4,0023_01,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Brence Harperez
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4272,9266_02,Earth,True,G/1496/S,TRAPPIST-1e,34.0,False,0.0,0.0,0.0,0.0,0.0,Jeron Peter
4273,9269_01,Earth,False,NaN,TRAPPIST-1e,42.0,False,0.0,847.0,17.0,10.0,144.0,Matty Scheron
4274,9271_01,Mars,True,D/296/P,55 Cancri e,NaN,False,0.0,0.0,0.0,0.0,0.0,Jayrin Pore
4275,9273_01,Europa,False,D/297/P,NaN,NaN,False,0.0,2680.0,0.0,0.0,523.0,Kitakan Conale
4276,9277_01,Earth,True,G/1498/S,PSO J318.5-22,43.0,False,0.0,0.0,0.0,0.0,0.0,Lilace Leonzaley